<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package id="Kucoin.Net" version="4.3.1" targetFramework="netstandard2.0" allowedVersions="[4.3.1]" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.32" targetFramework="netstandard2.0" allowedVersions="[3.1.0, )" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.32" targetFramework="netstandard2.0" allowedVersions="[3.1.0, )" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="netstandard2.0" allowedVersions="[5.0.0, )" />
  <package id="Telegram.Bot" version="19.0.0" targetFramework="netstandard2.0" allowedVersions="[19.0.0]" />
  <package id="CryptoExchange.Net" version="5.4.3" targetFramework="netstandard2.0" allowedVersions="[5.4.0, )" />
</packages>